.shadow-md {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

.bg-primary {
  background-color: #1E2345 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0f1121 !important;
}

.bg-secondary {
  background-color: #C84630 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #9f3826 !important;
}

.bg-success {
  background-color: #28A745 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17A2B8 !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #FEC114 !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #dea401 !important;
}

.bg-danger {
  background-color: #C84630 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #9f3826 !important;
}

.bg-light {
  background-color: #E1E1E1 !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #c8c7c7 !important;
}

.bg-dark {
  background-color: #160510 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: black !important;
}

.bg-body-bg {
  background-color: #FCFCFC !important;
}

a.bg-body-bg:hover, a.bg-body-bg:focus,
button.bg-body-bg:hover,
button.bg-body-bg:focus {
  background-color: #e3e2e2 !important;
}

.bg-body-color {
  background-color: #1E2345 !important;
}

a.bg-body-color:hover, a.bg-body-color:focus,
button.bg-body-color:hover,
button.bg-body-color:focus {
  background-color: #0f1121 !important;
}

.bg-link {
  background-color: #175088 !important;
}

a.bg-link:hover, a.bg-link:focus,
button.bg-link:hover,
button.bg-link:focus {
  background-color: #10365c !important;
}

.bg-heading {
  background-color: #1E2345 !important;
}

a.bg-heading:hover, a.bg-heading:focus,
button.bg-heading:hover,
button.bg-heading:focus {
  background-color: #0f1121 !important;
}

.bg-accent {
  background-color: #FFF5B7 !important;
}

a.bg-accent:hover, a.bg-accent:focus,
button.bg-accent:hover,
button.bg-accent:focus {
  background-color: #ffee84 !important;
}

.bg-alternate-1 {
  background-color: #160510 !important;
}

a.bg-alternate-1:hover, a.bg-alternate-1:focus,
button.bg-alternate-1:hover,
button.bg-alternate-1:focus {
  background-color: black !important;
}

.bg-alternate-2 {
  background-color: #266666 !important;
}

a.bg-alternate-2:hover, a.bg-alternate-2:focus,
button.bg-alternate-2:hover,
button.bg-alternate-2:focus {
  background-color: #184141 !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

a.bg-white:hover, a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
  background-color: #e6e5e5 !important;
}

.bg-black {
  background-color: #000000 !important;
}

a.bg-black:hover, a.bg-black:focus,
button.bg-black:hover,
button.bg-black:focus {
  background-color: black !important;
}

.bg-transparent {
  background-color: transparent !important;
}

@media (min-width: 576px) {
  .shadow-sm-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .shadow-sm-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .shadow-sm-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  .shadow-sm-none {
    box-shadow: none !important;
  }
  .bg-sm-primary {
    background-color: #1E2345 !important;
  }
  a.bg-sm-primary:hover, a.bg-sm-primary:focus,
  button.bg-sm-primary:hover,
  button.bg-sm-primary:focus {
    background-color: #0f1121 !important;
  }
  .bg-sm-secondary {
    background-color: #C84630 !important;
  }
  a.bg-sm-secondary:hover, a.bg-sm-secondary:focus,
  button.bg-sm-secondary:hover,
  button.bg-sm-secondary:focus {
    background-color: #9f3826 !important;
  }
  .bg-sm-success {
    background-color: #28A745 !important;
  }
  a.bg-sm-success:hover, a.bg-sm-success:focus,
  button.bg-sm-success:hover,
  button.bg-sm-success:focus {
    background-color: #1e7e34 !important;
  }
  .bg-sm-info {
    background-color: #17A2B8 !important;
  }
  a.bg-sm-info:hover, a.bg-sm-info:focus,
  button.bg-sm-info:hover,
  button.bg-sm-info:focus {
    background-color: #117a8b !important;
  }
  .bg-sm-warning {
    background-color: #FEC114 !important;
  }
  a.bg-sm-warning:hover, a.bg-sm-warning:focus,
  button.bg-sm-warning:hover,
  button.bg-sm-warning:focus {
    background-color: #dea401 !important;
  }
  .bg-sm-danger {
    background-color: #C84630 !important;
  }
  a.bg-sm-danger:hover, a.bg-sm-danger:focus,
  button.bg-sm-danger:hover,
  button.bg-sm-danger:focus {
    background-color: #9f3826 !important;
  }
  .bg-sm-light {
    background-color: #E1E1E1 !important;
  }
  a.bg-sm-light:hover, a.bg-sm-light:focus,
  button.bg-sm-light:hover,
  button.bg-sm-light:focus {
    background-color: #c8c7c7 !important;
  }
  .bg-sm-dark {
    background-color: #160510 !important;
  }
  a.bg-sm-dark:hover, a.bg-sm-dark:focus,
  button.bg-sm-dark:hover,
  button.bg-sm-dark:focus {
    background-color: black !important;
  }
  .bg-sm-body-bg {
    background-color: #FCFCFC !important;
  }
  a.bg-sm-body-bg:hover, a.bg-sm-body-bg:focus,
  button.bg-sm-body-bg:hover,
  button.bg-sm-body-bg:focus {
    background-color: #e3e2e2 !important;
  }
  .bg-sm-body-color {
    background-color: #1E2345 !important;
  }
  a.bg-sm-body-color:hover, a.bg-sm-body-color:focus,
  button.bg-sm-body-color:hover,
  button.bg-sm-body-color:focus {
    background-color: #0f1121 !important;
  }
  .bg-sm-link {
    background-color: #175088 !important;
  }
  a.bg-sm-link:hover, a.bg-sm-link:focus,
  button.bg-sm-link:hover,
  button.bg-sm-link:focus {
    background-color: #10365c !important;
  }
  .bg-sm-heading {
    background-color: #1E2345 !important;
  }
  a.bg-sm-heading:hover, a.bg-sm-heading:focus,
  button.bg-sm-heading:hover,
  button.bg-sm-heading:focus {
    background-color: #0f1121 !important;
  }
  .bg-sm-accent {
    background-color: #FFF5B7 !important;
  }
  a.bg-sm-accent:hover, a.bg-sm-accent:focus,
  button.bg-sm-accent:hover,
  button.bg-sm-accent:focus {
    background-color: #ffee84 !important;
  }
  .bg-sm-alternate-1 {
    background-color: #160510 !important;
  }
  a.bg-sm-alternate-1:hover, a.bg-sm-alternate-1:focus,
  button.bg-sm-alternate-1:hover,
  button.bg-sm-alternate-1:focus {
    background-color: black !important;
  }
  .bg-sm-alternate-2 {
    background-color: #266666 !important;
  }
  a.bg-sm-alternate-2:hover, a.bg-sm-alternate-2:focus,
  button.bg-sm-alternate-2:hover,
  button.bg-sm-alternate-2:focus {
    background-color: #184141 !important;
  }
  .bg-sm-white {
    background-color: #FFFFFF !important;
  }
  a.bg-sm-white:hover, a.bg-sm-white:focus,
  button.bg-sm-white:hover,
  button.bg-sm-white:focus {
    background-color: #e6e5e5 !important;
  }
  .bg-sm-black {
    background-color: #000000 !important;
  }
  a.bg-sm-black:hover, a.bg-sm-black:focus,
  button.bg-sm-black:hover,
  button.bg-sm-black:focus {
    background-color: black !important;
  }
  .bg-sm-transparent {
    background-color: transparent !important;
  }
}

@media (min-width: 768px) {
  .shadow-md-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .shadow-md-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .shadow-md-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  .shadow-md-none {
    box-shadow: none !important;
  }
  .bg-md-primary {
    background-color: #1E2345 !important;
  }
  a.bg-md-primary:hover, a.bg-md-primary:focus,
  button.bg-md-primary:hover,
  button.bg-md-primary:focus {
    background-color: #0f1121 !important;
  }
  .bg-md-secondary {
    background-color: #C84630 !important;
  }
  a.bg-md-secondary:hover, a.bg-md-secondary:focus,
  button.bg-md-secondary:hover,
  button.bg-md-secondary:focus {
    background-color: #9f3826 !important;
  }
  .bg-md-success {
    background-color: #28A745 !important;
  }
  a.bg-md-success:hover, a.bg-md-success:focus,
  button.bg-md-success:hover,
  button.bg-md-success:focus {
    background-color: #1e7e34 !important;
  }
  .bg-md-info {
    background-color: #17A2B8 !important;
  }
  a.bg-md-info:hover, a.bg-md-info:focus,
  button.bg-md-info:hover,
  button.bg-md-info:focus {
    background-color: #117a8b !important;
  }
  .bg-md-warning {
    background-color: #FEC114 !important;
  }
  a.bg-md-warning:hover, a.bg-md-warning:focus,
  button.bg-md-warning:hover,
  button.bg-md-warning:focus {
    background-color: #dea401 !important;
  }
  .bg-md-danger {
    background-color: #C84630 !important;
  }
  a.bg-md-danger:hover, a.bg-md-danger:focus,
  button.bg-md-danger:hover,
  button.bg-md-danger:focus {
    background-color: #9f3826 !important;
  }
  .bg-md-light {
    background-color: #E1E1E1 !important;
  }
  a.bg-md-light:hover, a.bg-md-light:focus,
  button.bg-md-light:hover,
  button.bg-md-light:focus {
    background-color: #c8c7c7 !important;
  }
  .bg-md-dark {
    background-color: #160510 !important;
  }
  a.bg-md-dark:hover, a.bg-md-dark:focus,
  button.bg-md-dark:hover,
  button.bg-md-dark:focus {
    background-color: black !important;
  }
  .bg-md-body-bg {
    background-color: #FCFCFC !important;
  }
  a.bg-md-body-bg:hover, a.bg-md-body-bg:focus,
  button.bg-md-body-bg:hover,
  button.bg-md-body-bg:focus {
    background-color: #e3e2e2 !important;
  }
  .bg-md-body-color {
    background-color: #1E2345 !important;
  }
  a.bg-md-body-color:hover, a.bg-md-body-color:focus,
  button.bg-md-body-color:hover,
  button.bg-md-body-color:focus {
    background-color: #0f1121 !important;
  }
  .bg-md-link {
    background-color: #175088 !important;
  }
  a.bg-md-link:hover, a.bg-md-link:focus,
  button.bg-md-link:hover,
  button.bg-md-link:focus {
    background-color: #10365c !important;
  }
  .bg-md-heading {
    background-color: #1E2345 !important;
  }
  a.bg-md-heading:hover, a.bg-md-heading:focus,
  button.bg-md-heading:hover,
  button.bg-md-heading:focus {
    background-color: #0f1121 !important;
  }
  .bg-md-accent {
    background-color: #FFF5B7 !important;
  }
  a.bg-md-accent:hover, a.bg-md-accent:focus,
  button.bg-md-accent:hover,
  button.bg-md-accent:focus {
    background-color: #ffee84 !important;
  }
  .bg-md-alternate-1 {
    background-color: #160510 !important;
  }
  a.bg-md-alternate-1:hover, a.bg-md-alternate-1:focus,
  button.bg-md-alternate-1:hover,
  button.bg-md-alternate-1:focus {
    background-color: black !important;
  }
  .bg-md-alternate-2 {
    background-color: #266666 !important;
  }
  a.bg-md-alternate-2:hover, a.bg-md-alternate-2:focus,
  button.bg-md-alternate-2:hover,
  button.bg-md-alternate-2:focus {
    background-color: #184141 !important;
  }
  .bg-md-white {
    background-color: #FFFFFF !important;
  }
  a.bg-md-white:hover, a.bg-md-white:focus,
  button.bg-md-white:hover,
  button.bg-md-white:focus {
    background-color: #e6e5e5 !important;
  }
  .bg-md-black {
    background-color: #000000 !important;
  }
  a.bg-md-black:hover, a.bg-md-black:focus,
  button.bg-md-black:hover,
  button.bg-md-black:focus {
    background-color: black !important;
  }
  .bg-md-transparent {
    background-color: transparent !important;
  }
}

@media (min-width: 992px) {
  .shadow-lg-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .shadow-lg-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .shadow-lg-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  .shadow-lg-none {
    box-shadow: none !important;
  }
  .bg-lg-primary {
    background-color: #1E2345 !important;
  }
  a.bg-lg-primary:hover, a.bg-lg-primary:focus,
  button.bg-lg-primary:hover,
  button.bg-lg-primary:focus {
    background-color: #0f1121 !important;
  }
  .bg-lg-secondary {
    background-color: #C84630 !important;
  }
  a.bg-lg-secondary:hover, a.bg-lg-secondary:focus,
  button.bg-lg-secondary:hover,
  button.bg-lg-secondary:focus {
    background-color: #9f3826 !important;
  }
  .bg-lg-success {
    background-color: #28A745 !important;
  }
  a.bg-lg-success:hover, a.bg-lg-success:focus,
  button.bg-lg-success:hover,
  button.bg-lg-success:focus {
    background-color: #1e7e34 !important;
  }
  .bg-lg-info {
    background-color: #17A2B8 !important;
  }
  a.bg-lg-info:hover, a.bg-lg-info:focus,
  button.bg-lg-info:hover,
  button.bg-lg-info:focus {
    background-color: #117a8b !important;
  }
  .bg-lg-warning {
    background-color: #FEC114 !important;
  }
  a.bg-lg-warning:hover, a.bg-lg-warning:focus,
  button.bg-lg-warning:hover,
  button.bg-lg-warning:focus {
    background-color: #dea401 !important;
  }
  .bg-lg-danger {
    background-color: #C84630 !important;
  }
  a.bg-lg-danger:hover, a.bg-lg-danger:focus,
  button.bg-lg-danger:hover,
  button.bg-lg-danger:focus {
    background-color: #9f3826 !important;
  }
  .bg-lg-light {
    background-color: #E1E1E1 !important;
  }
  a.bg-lg-light:hover, a.bg-lg-light:focus,
  button.bg-lg-light:hover,
  button.bg-lg-light:focus {
    background-color: #c8c7c7 !important;
  }
  .bg-lg-dark {
    background-color: #160510 !important;
  }
  a.bg-lg-dark:hover, a.bg-lg-dark:focus,
  button.bg-lg-dark:hover,
  button.bg-lg-dark:focus {
    background-color: black !important;
  }
  .bg-lg-body-bg {
    background-color: #FCFCFC !important;
  }
  a.bg-lg-body-bg:hover, a.bg-lg-body-bg:focus,
  button.bg-lg-body-bg:hover,
  button.bg-lg-body-bg:focus {
    background-color: #e3e2e2 !important;
  }
  .bg-lg-body-color {
    background-color: #1E2345 !important;
  }
  a.bg-lg-body-color:hover, a.bg-lg-body-color:focus,
  button.bg-lg-body-color:hover,
  button.bg-lg-body-color:focus {
    background-color: #0f1121 !important;
  }
  .bg-lg-link {
    background-color: #175088 !important;
  }
  a.bg-lg-link:hover, a.bg-lg-link:focus,
  button.bg-lg-link:hover,
  button.bg-lg-link:focus {
    background-color: #10365c !important;
  }
  .bg-lg-heading {
    background-color: #1E2345 !important;
  }
  a.bg-lg-heading:hover, a.bg-lg-heading:focus,
  button.bg-lg-heading:hover,
  button.bg-lg-heading:focus {
    background-color: #0f1121 !important;
  }
  .bg-lg-accent {
    background-color: #FFF5B7 !important;
  }
  a.bg-lg-accent:hover, a.bg-lg-accent:focus,
  button.bg-lg-accent:hover,
  button.bg-lg-accent:focus {
    background-color: #ffee84 !important;
  }
  .bg-lg-alternate-1 {
    background-color: #160510 !important;
  }
  a.bg-lg-alternate-1:hover, a.bg-lg-alternate-1:focus,
  button.bg-lg-alternate-1:hover,
  button.bg-lg-alternate-1:focus {
    background-color: black !important;
  }
  .bg-lg-alternate-2 {
    background-color: #266666 !important;
  }
  a.bg-lg-alternate-2:hover, a.bg-lg-alternate-2:focus,
  button.bg-lg-alternate-2:hover,
  button.bg-lg-alternate-2:focus {
    background-color: #184141 !important;
  }
  .bg-lg-white {
    background-color: #FFFFFF !important;
  }
  a.bg-lg-white:hover, a.bg-lg-white:focus,
  button.bg-lg-white:hover,
  button.bg-lg-white:focus {
    background-color: #e6e5e5 !important;
  }
  .bg-lg-black {
    background-color: #000000 !important;
  }
  a.bg-lg-black:hover, a.bg-lg-black:focus,
  button.bg-lg-black:hover,
  button.bg-lg-black:focus {
    background-color: black !important;
  }
  .bg-lg-transparent {
    background-color: transparent !important;
  }
}

@media (min-width: 1200px) {
  .shadow-xl-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .shadow-xl-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .shadow-xl-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  .shadow-xl-none {
    box-shadow: none !important;
  }
  .bg-xl-primary {
    background-color: #1E2345 !important;
  }
  a.bg-xl-primary:hover, a.bg-xl-primary:focus,
  button.bg-xl-primary:hover,
  button.bg-xl-primary:focus {
    background-color: #0f1121 !important;
  }
  .bg-xl-secondary {
    background-color: #C84630 !important;
  }
  a.bg-xl-secondary:hover, a.bg-xl-secondary:focus,
  button.bg-xl-secondary:hover,
  button.bg-xl-secondary:focus {
    background-color: #9f3826 !important;
  }
  .bg-xl-success {
    background-color: #28A745 !important;
  }
  a.bg-xl-success:hover, a.bg-xl-success:focus,
  button.bg-xl-success:hover,
  button.bg-xl-success:focus {
    background-color: #1e7e34 !important;
  }
  .bg-xl-info {
    background-color: #17A2B8 !important;
  }
  a.bg-xl-info:hover, a.bg-xl-info:focus,
  button.bg-xl-info:hover,
  button.bg-xl-info:focus {
    background-color: #117a8b !important;
  }
  .bg-xl-warning {
    background-color: #FEC114 !important;
  }
  a.bg-xl-warning:hover, a.bg-xl-warning:focus,
  button.bg-xl-warning:hover,
  button.bg-xl-warning:focus {
    background-color: #dea401 !important;
  }
  .bg-xl-danger {
    background-color: #C84630 !important;
  }
  a.bg-xl-danger:hover, a.bg-xl-danger:focus,
  button.bg-xl-danger:hover,
  button.bg-xl-danger:focus {
    background-color: #9f3826 !important;
  }
  .bg-xl-light {
    background-color: #E1E1E1 !important;
  }
  a.bg-xl-light:hover, a.bg-xl-light:focus,
  button.bg-xl-light:hover,
  button.bg-xl-light:focus {
    background-color: #c8c7c7 !important;
  }
  .bg-xl-dark {
    background-color: #160510 !important;
  }
  a.bg-xl-dark:hover, a.bg-xl-dark:focus,
  button.bg-xl-dark:hover,
  button.bg-xl-dark:focus {
    background-color: black !important;
  }
  .bg-xl-body-bg {
    background-color: #FCFCFC !important;
  }
  a.bg-xl-body-bg:hover, a.bg-xl-body-bg:focus,
  button.bg-xl-body-bg:hover,
  button.bg-xl-body-bg:focus {
    background-color: #e3e2e2 !important;
  }
  .bg-xl-body-color {
    background-color: #1E2345 !important;
  }
  a.bg-xl-body-color:hover, a.bg-xl-body-color:focus,
  button.bg-xl-body-color:hover,
  button.bg-xl-body-color:focus {
    background-color: #0f1121 !important;
  }
  .bg-xl-link {
    background-color: #175088 !important;
  }
  a.bg-xl-link:hover, a.bg-xl-link:focus,
  button.bg-xl-link:hover,
  button.bg-xl-link:focus {
    background-color: #10365c !important;
  }
  .bg-xl-heading {
    background-color: #1E2345 !important;
  }
  a.bg-xl-heading:hover, a.bg-xl-heading:focus,
  button.bg-xl-heading:hover,
  button.bg-xl-heading:focus {
    background-color: #0f1121 !important;
  }
  .bg-xl-accent {
    background-color: #FFF5B7 !important;
  }
  a.bg-xl-accent:hover, a.bg-xl-accent:focus,
  button.bg-xl-accent:hover,
  button.bg-xl-accent:focus {
    background-color: #ffee84 !important;
  }
  .bg-xl-alternate-1 {
    background-color: #160510 !important;
  }
  a.bg-xl-alternate-1:hover, a.bg-xl-alternate-1:focus,
  button.bg-xl-alternate-1:hover,
  button.bg-xl-alternate-1:focus {
    background-color: black !important;
  }
  .bg-xl-alternate-2 {
    background-color: #266666 !important;
  }
  a.bg-xl-alternate-2:hover, a.bg-xl-alternate-2:focus,
  button.bg-xl-alternate-2:hover,
  button.bg-xl-alternate-2:focus {
    background-color: #184141 !important;
  }
  .bg-xl-white {
    background-color: #FFFFFF !important;
  }
  a.bg-xl-white:hover, a.bg-xl-white:focus,
  button.bg-xl-white:hover,
  button.bg-xl-white:focus {
    background-color: #e6e5e5 !important;
  }
  .bg-xl-black {
    background-color: #000000 !important;
  }
  a.bg-xl-black:hover, a.bg-xl-black:focus,
  button.bg-xl-black:hover,
  button.bg-xl-black:focus {
    background-color: black !important;
  }
  .bg-xl-transparent {
    background-color: transparent !important;
  }
}

h1 {
  line-height: 1.25;
}

h2 {
  line-height: 1.25;
}

h3 {
  line-height: 1.25;
}

h4 {
  line-height: 1.222222;
}

h5 {
  line-height: 1;
}

h6 {
  line-height: 1;
}

h6 small {
  color: #C84630;
  font-family: Muli, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

h6 small a {
  color: #C84630;
}

h1, h2, h3 {
  margin-bottom: 1em;
}

h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover, h4 a, h4 a:hover, h5 a, h5 a:hover, h6 a, h6 a:hover {
  color: #1E2345;
}

p {
  margin-bottom: 1.875rem;
  line-height: 1.875em;
}

article p a {
  font-weight: 600;
  transition: all 0.35s ease-in-out;
  transition-duration: .15s;
}

article p a:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.btn-primary {
  color: #E1E1E1;
  background-color: #C84630;
  border-color: #a93b29;
}

.btn-primary:hover {
  color: #E1E1E1;
  background-color: #9f3826;
  border-color: #d15540;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(178, 84, 68, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #E1E1E1;
  background-color: #C84630;
  border-color: #a93b29;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #E1E1E1;
  background-color: #d66855;
  border-color: #4d1b12;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(178, 84, 68, 0.5);
}

.btn-outline-primary {
  color: #C84630;
  border-color: #C84630;
}

.btn-outline-primary:hover {
  color: #222222;
  background-color: #d15540;
  border-color: #C84630;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 70, 48, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #C84630;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #E1E1E1;
  background-color: #d15540;
  border-color: #C84630;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 70, 48, 0.5);
}

.more-link {
  text-align: left;
}

.btn, .more-link a {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #E1E1E1;
  background-color: #C84630;
  border-color: #a93b29;
  font-weight: bold;
  color: #FFFFFF;
  padding: 1rem 2rem;
  border-width: 0px !important;
  border-radius: .375rem;
  line-height: 1;
  font-size: 1rem;
}

.btn:hover, .more-link a:hover {
  color: #E1E1E1;
  background-color: #9f3826;
  border-color: #d15540;
}

.btn:focus, .btn.focus, .more-link a:focus, .more-link a.focus {
  box-shadow: 0 0 0 0.2rem rgba(178, 84, 68, 0.5);
}

.btn.disabled, .btn:disabled, .more-link a.disabled, .more-link a:disabled {
  color: #E1E1E1;
  background-color: #C84630;
  border-color: #a93b29;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active,
.show > .btn.dropdown-toggle, .more-link a:not(:disabled):not(.disabled):active, .more-link a:not(:disabled):not(.disabled).active,
.show > .more-link a.dropdown-toggle {
  color: #E1E1E1;
  background-color: #d66855;
  border-color: #4d1b12;
}

.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle:focus, .more-link a:not(:disabled):not(.disabled):active:focus, .more-link a:not(:disabled):not(.disabled).active:focus,
.show > .more-link a.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(178, 84, 68, 0.5);
}

.btn:hover, .more-link a:hover {
  text-decoration: none;
}

.calls-to-action a {
  margin: 0rem .5rem;
}

.feature-box .feature-box-ctas {
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
}

img.img-thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
}

.page-title {
  font-size: 32px;
  font-weight: bold;
  color: #E1E1E1;
}

.page__title-area .img-overlay.dark {
  background-color: #0A0D23;
}

.breadcrumb-back {
  padding-bottom: 15px;
  font-size: .85rem;
  font-weight: bold;
}

.breadcrumb-back a {
  color: #1e2345;
}

.page__footer {
  color: #FFF5B7;
  font-size: 10px;
}

.js-cm-submit-button {
  border-radius: 0 .25rem .25rem 0;
  padding: 0 1rem;
  height: 44px;
  font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #E1E1E1;
  transition: all 0.35s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.focus, .navbar-dark .navbar-nav .nav-link.is-active {
  color: #FFF5B7;
  font-weight: bold;
}

.webform-element--title-inline {
  display: flex;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.webform-element--title-inline label.form-required:after {
  display: none;
}

.webform-element--title-inline > label {
  background: #1e2245;
  color: #fff;
  width: 100px;
  margin: 0;
  min-width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webform-element--title-inline input, .webform-element--title-inline textarea {
  border-color: #D9D9D9;
  border-radius: 0;
  width: 100%;
}

.webform-element--title-inline .intl-tel-input {
  width: 100%;
}

svg.d324-copyright-block__developer-logo {
  fill: #FFF5B7;
  color: #FFFFFF;
}

.webform-element--title-inline {
  display: flex;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.webform-element--title-inline label.form-required:after {
  display: none;
}

.webform-element--title-inline > label {
  background: #1e2245;
  color: #fff;
  width: 100px;
  margin: 0;
  min-width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webform-element--title-inline input, .webform-element--title-inline textarea {
  border-color: #D9D9D9;
  border-radius: 0;
  width: 100%;
}

.webform-element--title-inline .intl-tel-input {
  width: 100%;
}

.paragraph > .paragraph__column {
  padding: 0;
}

.page-node-type-landing-page .page__content .settings-tray-editable {
  margin: 0 !important;
}

.page-node-type-landing-page .page__content .settings-tray-editable .nav-tabs {
  display: none;
}

.testimonial-card {
  background: #FFFFFF;
  padding: 2rem 2.5rem;
  margin: 5rem 10rem;
  min-height: 17.5rem;
}

.testimonial-card h6 {
  line-height: 1.875;
}

.slick--view--testimonial-slider .slick-prev {
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-right: 12.5px solid #160510;
  border-radius: 0;
  background: none;
  margin-left: 4rem;
  transition: all 0.35s ease-in-out;
  transition-duration: .25s;
}

.slick--view--testimonial-slider .slick-prev:hover {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid #160510;
  margin-left: calc(4rem - 5.5px);
}

.slick--view--testimonial-slider .slick-next {
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 12.5px solid #160510;
  border-radius: 0;
  background: none;
  margin-right: 4rem;
  transition: all 0.35s ease-in-out;
  transition-duration: .25s;
}

.slick--view--testimonial-slider .slick-next:hover {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #160510;
  margin-right: calc(4rem - 5.5px);
}

.slick--view--testimonial-slider .slick-prev::before, .slick--view--testimonial-slider .slick-next::before {
  content: none;
}

.testimonial .testimonial__attribution-name {
  margin: .25rem;
}

.testimonial .testimonial__attribution-title {
  margin: 0;
  line-height: 1.15;
}

.grid .testimonial-card {
  margin: 0;
  height: 100%;
}

.view-testimonial-index .grid .col article {
  height: 100%;
}

.view-testimonial-index .grid .col {
  margin-bottom: 2rem;
}

.slick--view--testimonial-slider .slick-list::before {
  content: url("/themes/custom/neal_grace/assets/images/quote-left.svg");
  position: absolute;
  left: 6rem;
  top: 2rem;
  z-index: -1;
}

.slick--view--testimonial-slider .slick-list::after {
  content: url("/themes/custom/neal_grace/assets/images/quote-right.svg");
  position: absolute;
  right: 6rem;
  bottom: 2rem;
  z-index: -1;
}

.date-box {
  height: 107px;
  width: 107px;
}

.date-box .date-month {
  font-size: 20px;
}

.date-box .date-day {
  font-size: 42px;
  font-weight: bold;
}

.event--teaser h4 {
  line-height: 1.25;
}

div.viewsreference--view-title {
  font-size: 36px;
  font-family: Merriweather, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  margin-bottom: 2rem;
}

.path-node.page-node-type-event main {
  min-height: calc(100vh - 362px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.path-node.page-node-type-event main .event__date {
  color: #C84630;
  font-size: 14px;
  font-weight: bold;
}

.path-node.page-node-type-event main .node {
  padding: 30px 60px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.path-node.page-node-type-event main .node p {
  font-size: 20px;
}

.view-blog-categories .views-row a {
  display: block;
  padding: .75rem 1rem;
  border-bottom: 1px solid #ccc;
}

.path-node.page-node-type-blog-post main {
  min-height: calc(100vh - 362px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.path-node.page-node-type-blog-post main .node {
  padding: 30px 60px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-bottom: 25px;
}

.path-node.page-node-type-blog-post main .node p {
  font-size: 20px;
}

.path-node.page-node-type-blog-post main .blog-post__field-categories {
  text-align: center;
  color: #C84630;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}

.path-node.page-node-type-blog-post .addtoany_list {
  margin: 30px auto;
  display: block;
  width: 100%;
  text-align: center;
}

.book--teaser h6 {
  font-size: 18px;
  font-style: italic;
  color: #C84630;
  margin-bottom: 1rem;
}

.book--teaser .addtoany_list {
  vertical-align: top;
}

.book__teaser-details {
  padding-left: 0 !important;
  font-size: 0.6rem;
  color: #A29696;
}

.previous-book h6 {
  margin: 1.8rem 0;
}

.previous-book p {
  margin-bottom: 1.5rem;
}

.jumbotron {
  min-height: 30rem;
  border-radius: 0;
}

.jumbotron h1 {
  font-size: 2.5rem;
  padding: 30px 50px 0;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .jumbotron {
    height: 100vh;
  }
  .jumbotron h1 {
    font-size: 1.5rem;
    padding: 0;
  }
  .jumbotron .calls-to-action a, .book--teaser .feature-box-ctas a {
    margin: 15px 5px !important;
    padding: 20px;
  }
  .feature-box__field-heading, .stripe-box__field-heading {
    white-space: nowrap;
    overflow: hidden;
  }
  .page__footer .container {
    padding: 0;
  }
  .block--d324developercopyrightblock, .block--d324clientcopyrightblock {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
  }
  .page__above-footer .btn {
    margin: 15px auto 0;
  }
  .testimonial-card {
    padding: 0 15px;
    margin: 60px 0;
    height: 380px;
  }
  .slick--view--testimonial-slider .slick-next, .slick--view--testimonial-slider .slick-prev {
    display: none !important;
  }
  .landing-page .stripe-column-2 {
    margin-top: 38px;
  }
  .landing-page .stripe-column-2 .paragraph--id--26 h6 small {
    font-size: 1.58rem;
    color: #1E2345;
    font-family: Merriweather, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  }
  .landing-page .stripe-column-2 .paragraph--id--26 h6 {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .paragraph--id--23 .row {
    padding: 50px 0 !important;
  }
  .paragraph--id--15 .media {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .paragraph--id--15 .feature-box__field-featured-media {
    text-align: center;
    background: #fff;
    padding-bottom: 50px;
  }
  .paragraph--id--17 .media {
    display: none;
  }
  .paragraph--id--17 .photo {
    content: url(/sites/default/files/neal_grace_thumb.jpg);
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
    width: 250px;
  }
  .paragraph--id--15 .shadow {
    box-shadow: none !important;
  }
  .paragraph--id--48 .item {
    padding: 0;
  }
  .card-img-overlay {
    padding: 0;
  }
  .event--teaser .date-content {
    padding-top: 0 !important;
  }
  .paragraph--id--15 .bg-white.shadow {
    padding-bottom: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .paragraph--id--15 .col-md-4.shadow, .paragraph--id--17 .col-md-4.shadow {
    margin: 10rem 0;
  }
  .testimonial-card {
    min-height: 460px;
  }
  .event--teaser .date-content {
    padding-top: 0 !important;
  }
  .paragraph--id--15 {
    margin-top: -1rem;
  }
  .paragraph--id--27 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .view-testimonial-index .testimonial-card {
    min-height: 100px;
  }
}

.block--newslettersignupblock {
  padding: 1.5rem 0 2rem;
}

.block--newslettersignupblock input {
  max-width: 20rem !important;
  text-align: left;
}

.block--newslettersignupblock form {
  margin-top: 20px;
}

.block--newslettersignupblock :-ms-input-placeholder, .block--newslettersignupblock :-ms-input-placeholder, .block--newslettersignupblock ::-ms-input-placeholder {
  color: #7E6B76;
  opacity: .8;
}

.block--newslettersignupblock ::-ms-input-placeholder, .block--newslettersignupblock :-ms-input-placeholder, .block--newslettersignupblock ::-ms-input-placeholder {
  color: #7E6B76;
  opacity: .8;
}

.block--newslettersignupblock ::placeholder, .block--newslettersignupblock :-ms-input-placeholder, .block--newslettersignupblock ::-ms-input-placeholder {
  color: #7E6B76;
  opacity: .8;
}

/*# sourceMappingURL=neal_grace.style.css.map*/