// Styles for blocks provided by core and contrib modules

// Newsletter block
.block--newslettersignupblock {
  padding: 1.5rem 0 2rem;

  input {
    max-width: 20rem !important;
    text-align: left;
  }

  form {
    margin-top: 20px;
  }

  ::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
    color: #7E6B76;
    opacity: .8;
  }
}
