// page: header
// -----------------------------------------------------------------------------
.page__header {
}

.page-title {
  font-size: 32px;
  font-weight: bold;
  color: $light;
}

.page__title-area .img-overlay.dark {
  background-color: #0A0D23;
}
