{% extends  "page.html.twig" %}

{# Remove title region #}
{% block titlearea %}
{% endblock %}

{% block main %}
  <main class="mb-lg-8 mb-sm-7 mb-6 container-fluid clearfix">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          <div class="row">
            {% if page.sidebar_left %}
              <div class="col-sm-3 page__sidebar-left">
                {{ page.sidebar_left }}
              </div>
            {% endif %}
            <div class="col-sm">
              {{ page.content }}
            </div>
            {% if page.sidebar_right %}
              <div class="col-sm-3 page__sidebar-right">
                {{ page.sidebar_right }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}
