{% extends  "page.html.twig" %}

{# Replace content_fields #}
{% block titlearea %}
  <div class="block block--pagetitle-2">
    <h1 class="page-title text-white m-0">Books</h1>
  </div>
{% endblock %}
