{% extends  "page.html.twig" %}

{# Remove title region #}
{% block titlearea %}
{% endblock %}

{# Replace main #}
{% block main %}
  <main class="mb-lg-8 mb-sm-7 mb-6 clearfix">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container-fluid no-gutters p-0">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}
