// Navigation: Main Menu
// -----------------------------------------------------------------------------
.navbar-dark .navbar-nav {
  .nav-link {
    color: $light;
    transition: $transition-base;
    &:hover, &.focus {
        color: $accent;
    }
  }
  .nav-item.active > a {
      color: $accent;
      font-weight: bold;
  }
}
