// -----------------------------------------------------------------------------
// HEADINGS
// -----------------------------------------------------------------------------

h1 { line-height: $h1-line-height; }
h2 { line-height: $h2-line-height; }
h3 { line-height: $h3-line-height; }
h4 { line-height: $h4-line-height; }
h5 { line-height: $h5-line-height; }
h6 {
  line-height: $h6-line-height;
  small {
    color: $secondary;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: bold;
    a {
      color: $secondary;
    }
  }
}

h1, h2, h3 {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  a, a:hover {
    color: $primary;
  }
}

// -----------------------------------------------------------------------------
// TEXT
// -----------------------------------------------------------------------------

p {
  margin-bottom: 2 * $spacer;
  line-height: 1.875em;
}

// -----------------------------------------------------------------------------
// LINKS
// -----------------------------------------------------------------------------

article p a {
  // This color doesn't provide sufficient contrast to be considered accessible
  // so we'll add a heavier weight and a hover-enabled highlight? Or...?
  font-weight: 600;
  transition: $transition-base;
  transition-duration: .15s;

  &:hover {
    background: rgba(0,0,0,.1);
    text-decoration: none;
  }
}

// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------

.btn-primary {
  @include button-variant($secondary, darken($secondary, 7.5%), darken($secondary, 10%), lighten($secondary,5%), lighten($secondary, 10%), darken($secondary,30%));
}

.btn-outline-primary {
  @include button-outline-variant($secondary, #222222, lighten($secondary,5%), $secondary);
}

.more-link {
  text-align: left;
}

.btn, .more-link a {
  box-shadow: $box-shadow;
  @include button-variant($secondary, darken($secondary, 7.5%), darken($secondary, 10%), lighten($secondary,5%), lighten($secondary, 10%), darken($secondary,30%));
  font-weight: bold;
  color: $white;
  padding: 1rem 2rem;
  border-width: 0px !important;
  border-radius: .375rem;
  line-height: 1;
  font-size: 1rem;
  &:hover {
    text-decoration: none;
  }
}

.calls-to-action a {
  margin: 0rem .5rem;
}

.feature-box .feature-box-ctas {
  transform: translateY(45%);
}


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

a {
  @include hover {

  }
}

// -----------------------------------------------------------------------------
// LISTS
// -----------------------------------------------------------------------------

.field--type-text-long {
  ol, ul, dl {
    padding-left: 1.25rem;

    li {
      line-height: 1.5;
    }
  }
}

// -----------------------------------------------------------------------------
// IMAGE
// -----------------------------------------------------------------------------

img {
  &.img-thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
  }
}

figure {

}

figcaption {

}

// -----------------------------------------------------------------------------
// OTHER
// -----------------------------------------------------------------------------

blockquote {

}

strong {

}

small {

}

// -----------------------------------------------------------------------------
// TABLES
// -----------------------------------------------------------------------------

@include media-breakpoint-down(sm) {

  .field--type-text-long table {
    tbody {
      tr {
        td {
          display: block;
          width: auto !important;
        }
      }
    }
  }
}
