// DON'T UPDATE THIS FILE
// Instead, update the file neal_grace.settings.yml and run "npm run dev" or "npm run production"
// This file is automatically regenerated each time "npm run dev" or equivalent build process is executed, so 
// DO NOT CHANGE THESE VARIABLES HERE... They'll be overwritten later.
// Change them inside of neal_grace.settings.yml "npm run dev" or "npm run production".

$body-color: #1E2345;
$body-bg: #FCFCFC;
$link: #175088;
$heading: #1E2345;
$primary: #1E2345;
$secondary: #C84630;
$accent: #FFF5B7;
$alternate-1: #160510;
$alternate-2: #266666;
$danger: #C84630;
$warning: #FEC114;
$info: #17A2B8;
$success: #28A745;
$dark: #160510;
$light: #E1E1E1;
$black: #000000;
$white: #FFFFFF;

$font-family-sans-serif: Muli, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-family-serif: Merriweather, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-family-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-serif;

$grid-gutter-width: 1.875rem;

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;

$d324-base-font-size: 1rem;
$d324-base-font-weight: normal;
$d324-base-line-height: 1.875;

$d324-h1-font-size: 42px;
$d324-h1-font-weight: 700;
$d324-h1-line-height: 1.25;

$d324-h2-font-size: 38px;
$d324-h2-font-weight: 700;
$d324-h2-line-height: 1.25;

$d324-h3-font-size: 32px;
$d324-h3-font-weight: 700;
$d324-h3-line-height: 1.25;

$d324-h4-font-size: 26px;
$d324-h4-font-weight: 700;
$d324-h4-line-height: 1.222222;

$d324-h5-font-size: 22px;
$d324-h5-font-weight: 700;
$d324-h5-line-height: 1;

$d324-h6-font-size: 18px;
$d324-h6-font-weight: 700;
$d324-h6-line-height: 1;