.book--teaser {

  h6 {
      font-size: 18px;
      font-style: italic;
      color: #C84630;
      margin-bottom: 1rem;
  }

  .addtoany_list {
    vertical-align: top;
  }
}

.book__teaser-details {
    padding-left: 0 !important;
    color: #A29696;
}

.previous-book {

  h6 {
    margin: 1.8rem 0;
  }

  p {
    margin-bottom: 1.5rem;
  }
}
